[Desktop Entry]
Type=Application
Comment=Note Taking Simplified
Exec= /home/xubundadu/AppImages/Obsidian.AppImage
Name=Obsidian
Icon=Obsidian
Categories=Application;Notes
