[Desktop Entry]
Type=Application
Comment=Note Taking Simplified
Exec=/home/xubundadu/AppImages/Obsidian.AppImage --no-sandbox
Name=Obsidian
Icon=Obsidian
Categories=Application;Notes
