[Desktop Entry]
Type=Application
Exec=firefox-esr --private-window
Name=Firefox Private
Icon=firefox
Comment=Private stock* Firefox
Categories=Application;Browser;Private
