[Desktop Entry]
Type=Application
Exec=flatpak run app.zen_browser.zen --private-window
Name=Zen Private
Icon=zen-indigo
Comment=Private Zen
Categories=Application;Browser;Private
